<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            background-color: #26baa5;
            color: #154360;
            padding: 10px;
            text-align: center;
        }
        nav, a {
            background-color: #656565;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        section {
            padding: 20px;
            font-size: 20px;
            color: rgb(59, 59, 59);
            font-family:'arial';
        }
    </style>
</head>
<body>
    <header>
        <h1>Bienvenido gestion de roles</h1>
    </header>
    <nav>
        <a href="#quienes-somos">Quiénes Somos</a> |
        <a href="#actividades">Actividades</a> |
        <a href="#contacto">Contacto</a>|
        <a href="#inicio">Iniciar Sesion</a> |
        <a href="#registrarse">Registrarse</a>
    </nav>

    <section id="quienes-somos">
        <h2>Quiénes Somos</h2>
        <p>En Cube Academy, nos apasiona el fascinante mundo de los cubos. Somos una comunidad comprometida de amantes de los rompecabezas que ofrece productos de calidad y recursos educativos para todos los niveles. Únete a nosotros para inspirarte, aprender y disfrutar juntos del emocionante desafío que ofrecen los cubos.</p>
    </section>

    <section id="actividades">
        <h2>Categorías</h2>
        <ul>
            <li>Cubo 3x3x3</li>
            <li>Pyramix</li>
            <li>Cubo 4x4x4</li>
            <li>Megamix</li>
        </ul>
    </section>


</body>
</html>